<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lapoderosa.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <activity android:name="org.lapoderosa.app.normal.ContactoActivity" />
        <activity android:name="org.lapoderosa.app.normal.ReporteAnonimo" />
        <activity android:name="org.lapoderosa.app.normal.HomeActivity" />
        <activity android:name="org.lapoderosa.app.normal.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.lapoderosa.app.normal.ReportVisualizacion" />
        <activity android:name="org.lapoderosa.app.normal.ReporteActivity" />
        <activity android:name="org.lapoderosa.app.normal.BusquedarReporteActivity" />
        <activity android:name="org.lapoderosa.app.normal.InicioActivity" />
        <activity android:name="org.lapoderosa.app.normal.LoginActivity" />
        <activity android:name="org.lapoderosa.app.normal.RegistrarseActivity" />
        <activity android:name="org.lapoderosa.app.normal.RecuperarCuentaActivity" />
        <activity android:name="org.lapoderosa.app.admin.AdminRestablecerContraseñaActivity" />
        <activity android:name="org.lapoderosa.app.admin.AdminMovimientosActivity" />
        <activity android:name="org.lapoderosa.app.admin.AdminHabilitarCuenta" />
        <activity android:name="org.lapoderosa.app.admin.AdminInicioActivity" />
    </application>

</manifest>