<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lapoderosa.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name="org.lapoderosa.app.normal.SplashActivity" android:theme="@style/noBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.lapoderosa.app.normal.HomeActivity" android:theme="@style/noBar"/>
        <activity android:name="org.lapoderosa.app.normal.ContactoActivity" android:label="@string/contactoWeb" android:parentActivityName="org.lapoderosa.app.normal.HomeActivity"
            tools:targetApi="jelly_bean" />
        <activity android:name="org.lapoderosa.app.normal.RegistrarseActivity" android:label="@string/registrarse" android:parentActivityName="org.lapoderosa.app.normal.HomeActivity"
            tools:targetApi="jelly_bean" />
        <activity android:name="org.lapoderosa.app.normal.RecuperarCuentaActivity" android:label="@string/recuperar_cuenta" android:parentActivityName="org.lapoderosa.app.normal.LoginActivity"
            tools:targetApi="jelly_bean" />
        <activity android:name="org.lapoderosa.app.normal.LoginActivity" android:label="@string/iniciar_sesion" android:parentActivityName="org.lapoderosa.app.normal.HomeActivity"
            tools:targetApi="jelly_bean" />
        <activity android:name="org.lapoderosa.app.normal.InicioActivity" android:label="@string/inicio"/>
        <activity android:name="org.lapoderosa.app.normal.ReportEdicion" android:label="@string/reporte_individual"/>
        <activity android:name="org.lapoderosa.app.normal.ReportVisualizacion" android:label="@string/reporte_individual"/>


        <activity android:name="org.lapoderosa.app.normal.ReporteAnonimo" android:label="@string/denuncia_anonima" />
        <activity android:name="org.lapoderosa.app.normal.BusquedarReporteActivity" android:label="@string/busquedaReporte"/>
        <activity android:name="org.lapoderosa.app.normal.ReporteActivity" android:label="@string/reporte"/>


        <activity android:name="org.lapoderosa.app.admin.AdminInicioActivity" android:label="@string/inicio"/>
        <activity android:name="org.lapoderosa.app.admin.AdminRestablecerContraseñaActivity" android:label="@string/restablecer_contrasenia" android:parentActivityName="org.lapoderosa.app.admin.AdminInicioActivity"
            tools:targetApi="jelly_bean"/>
        <activity android:name="org.lapoderosa.app.admin.AdminMovimientosActivity" android:label="@string/movimientos" android:parentActivityName="org.lapoderosa.app.admin.AdminInicioActivity"
            tools:targetApi="jelly_bean"/>
        <activity android:name="org.lapoderosa.app.admin.AdminHabilitarCuenta" android:label="@string/habilitar_cuenta" android:parentActivityName="org.lapoderosa.app.admin.AdminInicioActivity"
            tools:targetApi="jelly_bean"/>
    </application>

</manifest>